{% extends "admin/change_form.html" %}
{% block after_field_sets %}
    <h2>Ballot Management</h2>
    <div class="ballot-management-section">
        {% for election in elections %}
            <div class="form-row">
                <h3>{{ election.name }}</h3>
                <ul>
                    <li>
                        <a href="{% url 'election:edit_nominations' election.slug original.id %}">Manage Nominations</a>
                    </li>
                    <li>
                        <a href="{% url 'election:edit_votes' election.slug original.id %}">Manage Votes</a>
                    </li>
                </ul>
            </div>
        {% endfor %}
    </div>
{% endblock %}
