.wrapper {
  min-height: calc(100vh - 160px);
}

.navbar {
  max-height: 80px;
}

.footer {
  max-height: 80px;
  padding: 10px; /* Padding for the footer */
  background-color: #f8f9fa; /* Default footer background (light grey) */
}
