{% load static nomnom_styles %}
<link rel="stylesheet"
      href="{% static 'bootstrap/css/bootstrap.min.css' %}">
<script defer src="{% static 'fontawesome/js/all.min.js' %}"></script>
<script src="{% static 'bootstrap/js/jquery.min.js' %}"></script>
<script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
{% site_stylesheet %}
<link rel="stylesheet" href="{% static 'fonts/roboto.css' %}">
<link rel="stylesheet" href="{% static 'fonts/gruppo.css' %}">
<link rel="stylesheet" href="{% static 'fonts/robotoslab.css' %}">
