{% load i18n %}
{% load django_bootstrap5 %}
{% if USERNAME_LOGIN %}
    <form method="POST"
          action="{% url "login" %}?next={{ request.path }}"
          accept-charset="UTF-8">
        {% bootstrap_form form %}
        {% csrf_token %}
        <div>
            <input class="btn btn-primary login-btn" type="submit" value="Login">
        </div>
    </form>
{% endif %}
<div class="d-inline-flex gap-2 mb-5">
    <a href="{% url "social:begin" "clyde" %}?next={{ request.path }}">
        <button class="d-inline-flex align-items-center btn btn-primary btn-lg px-4 rounded-pill"
                type="button">Log in with {{ CONVENTION_NAME }} Registration</button>
    </a>
</div>
