{% extends "base.html" %}
{% block content %}
    <div class="d-flex">
        <div class="p-5 text-center bg-body-tertiary">
            <div class="container py-5">
                <h1 class="text-body-emphasis">WSFS Elections</h1>
                <p class="col-lg-8 mx-auto lead">You can access your available WSFS elections here.</p>
                {% if not user.is_authenticated %}
                    <div class="d-inline-flex gap-2 mb-5">
                        <a href="{% url "social:begin" "clyde" %}">
                            <button class="d-inline-flex align-items-center btn btn-primary btn-lg px-4 rounded-pill"
                                    type="button">Log in using Clyde</button>
                        </a>
                    </div>
                {% endif %}
            </div>
        </div>
        {% for election in object_list %}
            {% if forloop.first %}<div class="list-group justify-content-center">{% endif %}
                {% if election.is_open %}
                    <a href="{% url 'election-redirect' election.slug %}" {% else %}
                        <li {% endif %}
                            class="list-group-item list-group-item-action d-flex gap-3 py-3">
                            <div class="d-flex gap-2 w-100 justify-content-between">
                                <div>
                                    <h6 class="mb-0">{{ election.name }}</h6>
                                    <p class="mb-0 opacity-75">{{ election.describe_state }}</p>
                                </div>
                                <small class="opacity-50 text-nowrap">{{ election.pretty_state }}</small>
                            </div>
                            {% if election.is_open %}
                            </a>
                        {% else %}
                        </li>
                    {% endif %}
                    {% if forloop.last %}</div>{% endif %}
            {% empty %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
