{% extends "base.html" %}
{% load i18n %}
{% block content %}
    <div class="panel">
        <div class="d-flex align-items-md-center justify-content-center h-100 pt-3 pt-md-0">
            <div id="login" class=col-md-9 col-lg-7 col-xl-6">
                <h1 class="title">{% translate "Permission Denied" %}</h1>
                <p>
                    {% blocktranslate with user_t=user %}Your user, {{ user_t }}, does not have access to this feature.{% endblocktranslate %}
                </p>
            </div>
        </div>
    </div>
{% endblock %}
