button.btn.active {
    font-weight: bold;
}

.vote.active.vote-yes:before {
    content: "✓ ";
}

.vote.active.vote-no:before {
    content: "✗ ";
}

.vote.active.vote-abstain:before {
    content: "⚬ ";
}
