{% extends "base.html" %}
{% block content %}
    <div class="p-5 bg-body-tertiary">
        <div class="row">
            <div class="col-12 mb-3">
                <a href="{% url 'advise:advisory_votes' %}"><i class="fas fa-arrow-left"></i> Back to the list of proposals</a>
            </div>
            <div class="col-12">
                <h1>{{ advisory_vote.name }}</h1>
            </div>
            <div class="col-12">
                <p>{{ advisory_vote.rendered_full_text | safe }}</p>
            </div>
            <div class="col-12">
                {% block form %}
                    <form method="post" hx-post hx-swap="outerHTML">
                        {% csrf_token %}
                        <div class="row btn-group" role="group" aria-label="Vote selection">
                            <div class="col">
                                <button name="selection"
                                        value="yes"
                                        id="yes-button"
                                        class="btn btn-outline-primary vote vote-yes {% if user_vote and user_vote.selection == 'yes' %}active{% endif %}">
                                    Yes
                                </button>
                            </div>
                            <div class="col">
                                <button name="selection"
                                        value="no"
                                        id="no-button"
                                        class="btn btn-outline-danger vote vote-no {% if user_vote and user_vote.selection == 'no' %}active{% endif %}">
                                    No
                                </button>
                            </div>
                            {% if advisory_vote.can_abstain %}
                                <div class="col">
                                    <button name="selection"
                                            value="abstain"
                                            id="abstain-button"
                                            class="btn btn-outline-secondary vote vote-abstain {% if user_vote and user_vote.selection == 'abstain' %}active{% endif %}">
                                        Abstain
                                    </button>
                                </div>
                            {% endif %}
                        </div>
                    </form>
                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}
