{% extends "base.html" %}
{% load django_bootstrap5 %}
{% block content %}
    <div class="panel h-100">
        <div class="d-flex align-items-md-center justify-content-center h-100 pt-3 pt-md-0">
            <div id="login" class="col-md-9 col-lg-7 col-xl-6">
                <h1 class="title font-weight-bold">Log In</h1>
                <form method="POST" accept-charset="UTF-8">
                    {% bootstrap_form form %}
                    {% csrf_token %}
                    <div>
                        <input class="btn btn-primary login-btn" type="submit" value="Login">
                    </div>
                </form>
                <div class="pt-3">
                    <a class="btn btn-secondary" href="{% url "social:begin" "clyde" %}">Clyde Login</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
