{% extends "base.html" %}
{% load django_bootstrap5 %}
{% block content %}
    <div id="login" class="col-md-9 col-lg-7 col-xl-6">
        <h1 class="title font-weight-bold">{% translate "Log In" %}</h1>
        {% if USERNAME_LOGIN %}
            <form method="POST" accept-charset="UTF-8">
                {% bootstrap_form form %}
                {% csrf_token %}
                <div>
                    <input class="btn btn-primary login-btn"
                           type="submit"
                           value="{% translate "Log In" %}">
                </div>
            </form>
        {% endif %}
        <div class="d-inline-flex gap-2 mb-5">
            <a href="{% url "social:begin" "clyde" %}">
                <button class="d-inline-flex align-items-center btn btn-primary btn-lg px-4 rounded-pill"
                        type="button">{% translate "Log in using Clyde" %}</button>
            </a>
        </div>
    </div>
{% endblock %}
