<table class="results">
    <tr>
        <th colspan={{ results.0.rounds }}>{{ title }}
        </th>
        <th>Runoff</th>
    </tr>
    {% for result in results %}
        <tr class="{% if forloop.first %}winner{% endif %}">
            <th>{{ result.candidate }}</th>
            {% for votes in result.votes_per_round_details %}
                {% if votes.is_empty %}
                    <td>&nbsp;</td>
                {% else %}
                    <td class="vote-cell {{ votes.extra_class }}">{{ votes }}</td>
                {% endif %}
            {% endfor %}
        </tr>
    {% endfor %}
</table>
