{% load markdownify %}
<h3>Dear {{ member.preferred_name }}</h3>
{% if message %}{{ message }}{% endif %}
{% for category, nominations in nominations %}
    {% if forloop.first %}<p>Here are your {{ election.name }} nominations, as of {{ report_date }}</p>{% endif %}
    {% for nomination in nominations %}
        {% if forloop.first %}
            <h4>Category: {{ category.name | markdownify:"admin-label" }}</h4>
            <ul>
            {% endif %}
            <li>{{ nomination.pretty_fields }}</li>
            {% if forloop.last %}</ul>{% endif %}
    {% endfor %}
{% empty %}
    <p>
        <b>You don't have any nominations.</b>
    </p>
{% endfor %}
<p>If you want to change them, you can find the ballot at {{ ballot_url }}.</p>
