name: Documentation

on:
  push:
    branches:
      - main
    paths:
      - "docs/**/*"
      - ".github/workflows/docs.yml"
      - "uv.lock"
  pull_request:
    branches:
      - main
    paths:
      - "docs/**/*"
      - ".github/workflows/docs.yml"
      - "uv.lock"
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  docs:
    runs-on: ubuntu-latest
    permissions:
      # needed so it can write to gh-pages
      contents: write
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          persist-credentials: false
      - name: Install uv
        uses: astral-sh/setup-uv@v3

      - name: Configure git
        run: |
          set -e
          git config --global --add safe.directory "$GITHUB_WORKSPACE"
          git config user.name 'github-actions[bot]'
          git config user.email 'github-actions[bot]@users.noreply.github.com'

      - name: Test docs
        # if this is a pull request from another repository, then just build the docs as artifacts
        if: github.event_name == 'pull_request'
        run: uv run mkdocs build
        working-directory: ./docs

      - name: Publish docs
        # Only publish if we're a workflow run or a push
        if: github.event_name != 'pull_request'
        run: uv run mkdocs gh-deploy
        working-directory: ./docs

      - name: Upload the artifacts
        uses: actions/upload-artifact@v4
        with:
          name: Documentation
          path: docs/site/
