---
name: Template Check

on:
  push:
    branches: ["main"]
    tags: ["*"]
  pull_request:
    branches: ["main"]
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

env:
  FORCE_COLOR: "1" # Make tools pretty.
  PIP_DISABLE_PIP_VERSION_CHECK: "1"
  PIP_NO_PYTHON_VERSION_WARNING: "1"

permissions:
  contents: read

jobs:
  generate-convention:
    name: Generate a Convention
    runs-on: ubuntu-latest
    outputs:
      convention_root: ${{ steps.convention-setup.outputs.convention_root }}
    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: false
      - name: Install uv
        uses: astral-sh/setup-uv@v3

      - id: convention-setup
        run: |
          convention_root=$(mktemp -d)
          echo "CONVENTION_REPO_PATH=$convention_root" >> "$GITHUB_ENV"
          echo "convention_root=${convention_root}" >> "$GITHUB_OUTPUT"
      - run: |
          uvx copier copy --vcs-ref=HEAD \
              --defaults \
              . "$CONVENTION_REPO_PATH"

      - name: Tar up the output to preserve permissions
        run: |
          tarfile=$(pwd)/nomnomcon.tar
          cd "${{ steps.convention-setup.outputs.convention_root }}"
          tar -cvf "$tarfile" .

      - name: Upload convention tarball
        uses: actions/upload-artifact@v4
        with:
          name: NomNomCon-with-defaults
          path: nomnomcon.tar

  validate-template:
    name: Verify the generated template
    runs-on: ubuntu-latest
    needs:
      - generate-convention

    env:
      UV_PYTHON_PREFERENCE: managed

    steps:
      - uses: actions/download-artifact@v4
        with:
          name: NomNomCon-with-defaults
      - name: untar the convention
        run: |
          tar xvf nomnomcon.tar
          find .
          rm -f nomnomcon.tar
      - uses: extractions/setup-just@v2
      - name: Install uv
        uses: astral-sh/setup-uv@v3

      - name: Post-installation setup
        run: |
          # allow prereleases, if nothing else because nomnom itself is
          # still in prerelease
          uv sync --prerelease=allow

          just bootstrap

      - name: Set up Docker and docker buildx
        uses: docker/setup-buildx-action@v2

      - name: Confirm the image builds
        run: |
          docker build .

          docker build --target=dev --tag ghcr.io/worldconvotingsystems/nomnom:dev .

      - run: |
          # interactively run the bootstrap to make sure we see issues
          docker compose \
            -f docker-compose.yml -f docker-compose.dev.yml \
            run boot

      - name: start up the services
        run: |
          docker compose \
            -f docker-compose.yml -f docker-compose.dev.yml \
            up --wait --wait-timeout 300 \
            web worker
          rc=$?

          if [[ $rc != 0 ]]; then
            docker compose \
              -f docker-compose.yml -f docker-compose.dev.yml \
              logs boot web db

            exit $rc
          fi

      - name: Test the service out
        run: |
          set -eu -o pipefail
          curl --fail-with-body -v http://localhost:"$(docker compose port web 8000 | cut -d: -f2)"
